@import url("https://fonts.google.com/specimen/Red+Hat+Display");

/* --SETUP--*/

:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

/*--Primary Styling--*/

body {
    background-image: url("images/pattern-background-desktop.svg");
}

/*-- UTILITIES--*/

.card {
    margin: 0 auto;
    margin-top: 5%;
    background-color: white;
    border-radius: 20px;
    max-width: 25rem;
    padding-bottom: 2%;
    height: 600px;
}

.main-img {
    max-width: 25rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.description{
    text-align: center;
}

.description p {
    padding-left: 40px;
    padding-right: 40px;
}

.plan {
    max-width: 25rem;
    background-color: var(--Very-pale-blue);
    max-height: 6rem;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
}

.inner-plane{
    box-sizing: border-box;
}

.music-image{
    margin-top: 9%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.annual{
    margin-bottom: 10%;
}

.price{
    padding-left: 20px;
}

.payment{
    text-align: center;
}

.cancel{
    text-align: center;
}

.change{
    float: right;
    margin-top: 15%;
    padding-right: 10px;
}